body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  line-height: 1.2;
  line-height: 75%;
  line-height: 2em;
  line-height: normal;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
  text-decoration: none;

}

p {
  font-size: 100%;
  line-height: 24px;
  padding-bottom: 15px;
}

h1 {
  font-size: 36px;
  padding-bottom: 15px;
}

h3 {
  padding-bottom: 15px;
  line-height: 24px;
}

figcaption {
  font-size: 12px;
}

a {
  text-decoration: none;
}

a:hover { color:#0070BC; } /* mouse over */{
  
}

.author {
  font-style: italic;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
  text-decoration: none;
}

ul {
  list-style-type: none;
  float: right;
  text-decoration: none;
}

li {
  float: right;
  padding: 30px;
  text-decoration: none;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
